:root {
  --bleu: rgba(45, 62, 80, 1);
  --rouge: rgba(192, 57, 43, 1);
  --bleu-100: rgba(156, 177, 200, 1);
  --bleu-200: rgba(107, 139, 172, 1);
  --bleu-300: rgba(73, 100, 129, 1);
  --bleu-400: rgba(45, 62, 80, 1);
  --bleu-500: rgba(27, 37, 48, 1);
  --rouge-100: rgba(238, 186, 180, 1);
  --rouge-200: rgba(221, 116, 105, 1);
  --rouge-300: rgba(192, 57, 43, 1);
  --rouge-400: rgba(149, 44, 33, 1);
  --rouge-500: rgba(106, 32, 24, 1);
  --or-100: rgba(234, 212, 180, 1);
  --or-200: rgba(231, 200, 115, 1);
  --or-300: rgba(199, 143, 61, 1);
  --or-400: rgba(156, 111, 45, 1);
  --or-500: rgba(111, 79, 32, 1);
  --gray-0: rgba(233, 233, 233, 1);
  --gray-1: rgba(150, 150, 150, 1);
  --rouge-10: rgba(192, 57, 43, 0.1);
  --or-10: rgba(212, 169, 106, 0.1);
  --bleu-10: rgba(236, 240, 245, 1);
  --base: rgba(237, 237, 237, 1);
  --sm-semibold-font-family: "Poppins", Helvetica;
  --sm-semibold-font-weight: 600;
  --sm-semibold-font-size: 14px;
  --sm-semibold-letter-spacing: 0px;
  --sm-semibold-line-height: 26.600000381469727px;
  --sm-semibold-font-style: normal;
  --md-regular-font-family: "Poppins", Helvetica;
  --md-regular-font-weight: 400;
  --md-regular-font-size: 16px;
  --md-regular-letter-spacing: 0px;
  --md-regular-line-height: 24.700000762939453px;
  --md-regular-font-style: normal;
  --md-medium-font-family: "Poppins", Helvetica;
  --md-medium-font-weight: 500;
  --md-medium-font-size: 16px;
  --md-medium-letter-spacing: 0px;
  --md-medium-line-height: normal;
  --md-medium-font-style: normal;
  --md-semibold-font-family: "Poppins", Helvetica;
  --md-semibold-font-weight: 600;
  --md-semibold-font-size: 16px;
  --md-semibold-letter-spacing: 0px;
  --md-semibold-line-height: 18px;
  --md-semibold-font-style: normal;
  --xl-semibold-font-family: "Poppins", Helvetica;
  --xl-semibold-font-weight: 600;
  --xl-semibold-font-size: 20px;
  --xl-semibold-letter-spacing: 0px;
  --xl-semibold-line-height: 24px;
  --xl-semibold-font-style: normal;
  --xs-semibold-font-family: "Poppins", Helvetica;
  --xs-semibold-font-weight: 600;
  --xs-semibold-font-size: 12px;
  --xs-semibold-letter-spacing: -0.24px;
  --xs-semibold-line-height: 18.5px;
  --xs-semibold-font-style: normal;
  --h1-semibold-font-family: "Poppins", Helvetica;
  --h1-semibold-font-weight: 600;
  --h1-semibold-font-size: 32px;
  --h1-semibold-letter-spacing: 0px;
  --h1-semibold-line-height: 39px;
  --h1-semibold-font-style: normal;
  --h0-bold-font-family: "Poppins", Helvetica;
  --h0-bold-font-weight: 700;
  --h0-bold-font-size: 48px;
  --h0-bold-letter-spacing: 0px;
  --h0-bold-line-height: 57px;
  --h0-bold-font-style: normal;
  --xs-regular-font-family: "Roboto", Helvetica;
  --xs-regular-font-weight: 400;
  --xs-regular-font-size: 12px;
  --xs-regular-letter-spacing: 0px;
  --xs-regular-line-height: 14.699999809265137px;
  --xs-regular-font-style: normal;
  --sm-regular-font-family: "Poppins", Helvetica;
  --sm-regular-font-weight: 400;
  --sm-regular-font-size: 14px;
  --sm-regular-letter-spacing: 0px;
  --sm-regular-line-height: 20.600000381469727px;
  --sm-regular-font-style: normal;
  --xs-medium-font-family: "Roboto", Helvetica;
  --xs-medium-font-weight: 500;
  --xs-medium-font-size: 12px;
  --xs-medium-letter-spacing: 0px;
  --xs-medium-line-height: 24.700000762939453px;
  --xs-medium-font-style: normal;
  --h2-semibold-font-family: "Poppins", Helvetica;
  --h2-semibold-font-weight: 600;
  --h2-semibold-font-size: 28px;
  --h2-semibold-letter-spacing: 0px;
  --h2-semibold-line-height: 30px;
  --h2-semibold-font-style: normal;
  --xxs-regular-font-family: "Roboto", Helvetica;
  --xxs-regular-font-weight: 400;
  --xxs-regular-font-size: 10px;
  --xxs-regular-letter-spacing: 0px;
  --xxs-regular-line-height: 12.699999809265137px;
  --xxs-regular-font-style: normal;
  --xl-regular-font-family: "Poppins", Helvetica;
  --xl-regular-font-weight: 400;
  --xl-regular-font-size: 20px;
  --xl-regular-letter-spacing: 0px;
  --xl-regular-line-height: 24px;
  --xl-regular-font-style: normal;
  --xxs-semibold-font-family: "Roboto", Helvetica;
  --xxs-semibold-font-weight: 600;
  --xxs-semibold-font-size: 10px;
  --xxs-semibold-letter-spacing: 0px;
  --xxs-semibold-line-height: 12.699999809265137px;
  --xxs-semibold-font-style: normal;
  --h1-bold-font-family: "Poppins", Helvetica;
  --h1-bold-font-weight: 700;
  --h1-bold-font-size: 32px;
  --h1-bold-letter-spacing: 0px;
  --h1-bold-line-height: 39px;
  --h1-bold-font-style: normal;
  --sm-medium-font-family: "Roboto", Helvetica;
  --sm-medium-font-weight: 500;
  --sm-medium-font-size: 14px;
  --sm-medium-letter-spacing: 0px;
  --sm-medium-line-height: 12.699999809265137px;
  --sm-medium-font-style: normal;
  --readdy-link-semantic-button-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-button-font-weight: 500;
  --readdy-link-semantic-button-font-size: 16px;
  --readdy-link-semantic-button-letter-spacing: 0px;
  --readdy-link-semantic-button-line-height: 24px;
  --readdy-link-semantic-button-font-style: normal;
  --readdy-link-semantic-code-font-family: "Consolas", Helvetica;
  --readdy-link-semantic-code-font-weight: 400;
  --readdy-link-semantic-code-font-size: 16px;
  --readdy-link-semantic-code-letter-spacing: 0px;
  --readdy-link-semantic-code-line-height: 24px;
  --readdy-link-semantic-code-font-style: normal;
  --readdy-link-semantic-heading-2-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-heading-2-font-weight: 600;
  --readdy-link-semantic-heading-2-font-size: 24px;
  --readdy-link-semantic-heading-2-letter-spacing: 0px;
  --readdy-link-semantic-heading-2-line-height: 32px;
  --readdy-link-semantic-heading-2-font-style: normal;
  --readdy-link-semantic-heading-3-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-heading-3-font-weight: 500;
  --readdy-link-semantic-heading-3-font-size: 18px;
  --readdy-link-semantic-heading-3-letter-spacing: 0px;
  --readdy-link-semantic-heading-3-line-height: 28px;
  --readdy-link-semantic-heading-3-font-style: normal;
  --readdy-link-semantic-heading-4-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-heading-4-font-weight: 500;
  --readdy-link-semantic-heading-4-font-size: 18px;
  --readdy-link-semantic-heading-4-letter-spacing: 0px;
  --readdy-link-semantic-heading-4-line-height: 28px;
  --readdy-link-semantic-heading-4-font-style: normal;
  --readdy-link-semantic-input-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-input-font-weight: 400;
  --readdy-link-semantic-input-font-size: 16px;
  --readdy-link-semantic-input-letter-spacing: 0px;
  --readdy-link-semantic-input-line-height: normal;
  --readdy-link-semantic-input-font-style: normal;
  --readdy-link-semantic-item-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-item-font-weight: 500;
  --readdy-link-semantic-item-font-size: 16px;
  --readdy-link-semantic-item-letter-spacing: 0px;
  --readdy-link-semantic-item-line-height: 24px;
  --readdy-link-semantic-item-font-style: normal;
  --readdy-link-semantic-label-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-label-font-weight: 500;
  --readdy-link-semantic-label-font-size: 14px;
  --readdy-link-semantic-label-letter-spacing: 0px;
  --readdy-link-semantic-label-line-height: 20px;
  --readdy-link-semantic-label-font-style: normal;
  --readdy-link-semantic-link-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-link-font-weight: 400;
  --readdy-link-semantic-link-font-size: 16px;
  --readdy-link-semantic-link-letter-spacing: 0px;
  --readdy-link-semantic-link-line-height: 24px;
  --readdy-link-semantic-link-font-style: normal;
  --readdy-link-semantic-textarea-font-family: "Poppins", Helvetica;
  --readdy-link-semantic-textarea-font-weight: 400;
  --readdy-link-semantic-textarea-font-size: 16px;
  --readdy-link-semantic-textarea-letter-spacing: 0px;
  --readdy-link-semantic-textarea-line-height: 24px;
  --readdy-link-semantic-textarea-font-style: normal;
  --readdy-link-poppins-regular-font-family: "Poppins", Helvetica;
  --readdy-link-poppins-regular-font-weight: 400;
  --readdy-link-poppins-regular-font-size: 14px;
  --readdy-link-poppins-regular-letter-spacing: 0px;
  --readdy-link-poppins-regular-line-height: 20px;
  --readdy-link-poppins-regular-font-style: normal;
}
